/*
Theme Name:     Modulbüro Child
Description:    Design der Webseite
Author:			design & kommunikation im modulbüro
Author URI:		https://www.modulbuero.de
Template:     	fse-modulbuero
Text Domain:  	fse-dkm
Version:        1.0
*/
