header > div.has-primary-background-color{
    --mbfse--menu-item-color-hover:#000;
    background-color: #ffffffb0 !important;
    backdrop-filter: blur(3px);

    .wp-block-navigation__responsive-container-content > ul li {
        a{
            &:after{
                content:"\F309";
                font-family: 'bootstrap-icons';
                position: absolute;
                top: 30px;
                opacity: 0;
                transition: opacity .3s ease;
                font-size: 25px;
            }
            &:hover{
                span{
                    transform: translateY(-5px);
                }
                &:after{
                    opacity: 1;
                }
            }        
        }
    }
}

footer{
    .parts-footer{
        background: #000;

        li .wp-block-navigation-item__label,
        *{
            color:#fff
        }
        li .wp-block-navigation-item__label{
            font-weight: 200;
        }
        >.no-distance-bottom{
            gap:100px
        }
        >.alignfull{
            border-top: 1px solid #ffffff30;
            padding-top: var(--mbfse--padding-footer-bottom);
        }
        nav{
            margin-bottom: 175px;
        }
    }
}